.my-groups-main {
  margin-top: 25px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.my-groups-body {
  height: 31vh;
  overflow: auto;
  padding: 0 20px;
}

.my-groups-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.my-groups-inner:last-child {
  border: none;
}

.my-groups-pics {
  height: 70px;
  width: 70px;
  overflow: hidden;
}

.my-groups-pics img {
  width: 100%;
}

.my-groups-text {
  width: 50%;
}

.my-groups-text h3 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--third-color);
}

.my-groups-text p {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(77, 77, 77, 0.75);
}

.my-groups-btn {
  width: 25%;
}

.my-groups-btn button {
  width: 100%;
  padding: 10px 20px;
  background: var(--blue);
  outline: none;
  border: 0;
  color: #ffffff;
  font-family: var(--third-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.my-groups-btn button:hover {
  background: var(--blue);
}

.my-groups-btn button:nth-child(2){
  margin-top: 10px;
}

.my-groups-body::-webkit-scrollbar {
  width: 0.5vw;
  overflow: hidden;
}

.my-groups-body::-webkit-scrollbar-thumb {
  background: #3e54ac;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.my-groups-body::-webkit-scrollbar-track {
  height: 100%;
  /* background: #d1d6e1; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.my-groups-text h3 {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  font-family: var(--primary-font);
}

.my-groups-text h4 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

.groups_title {
  color: var(--third-color);
  font-size: 14px;
}

.alert_1{
  font-size: 18px !important;
  align-items: center !important;
}
